.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.navbar-left-items {
  display: flex;
  align-items: center;
  width: 35%;
}
.link {
  color: gray;
  text-decoration: none;
}

.searchbar-container {
  display: flex;
  align-items: center;
  width: 75%;
  background-color: #edf3f8;
}
.search-input {
  width: 300px;
  border: none !important;
  margin: 0;
  padding: 0;
}
.search-input::before {
  border: none !important;
}
.search-input::after {
  border-left: 1px solid black !important;
}
.navbar-right-items {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
}
.navbar-right-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: rgba(0, 0, 0, 0.6);
}
.navbar-icon {
  width: 25px;
  height: 22px;
}
.navbar-right-items div:hover {
  color: black;
  font-weight: 500;
}
.navbar-right-items h4 {
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none !important;
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
